* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #111827;
  color: white;
}
body{
  display: flex;
  flex-direction: column;

}
nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  margin: 20px;
}
nav ul li {
  text-decoration: none;
  list-style: none;
}
nav ul li a:hover{
  color: rgb(197, 197, 89);
  font-weight: 500;
  text-decoration: underline;
}
nav ul li a{
  text-decoration: none;
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.intro-line1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}
.section-2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-line1 img {
  width: 30px;
}
.right-section-1 img {
  width: 30vw;
}
.intro-line-2 h2 {
  color: rgb(197, 197, 89);
}
.project-button {
  
  font-size: 20px;
  align-self: center;
  border: none;
  text-decoration: underline;
  text-decoration-color: blue;
  cursor: pointer;
  margin-top: 10px;

}
.project-button:hover{
  color: rgb(197, 197, 89);
  font-weight: 500;
  text-decoration: none;
}
.card{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
     column-gap: 20px; 
}

.img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
} 
.left-section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* left{
  display: grid;
  
} */
/* .img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .card .img{
    height: 100px;
    width: 100px;
} */
img[alt="project-image"]{
    width: 20vw;
}
.left{
  justify-self: end;
}
.right{
  justify-self: start;
}
/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* ----------------------------- */
/*---------footer--------------- */
/* ----------------------------- */

footer{
display: flex;
justify-content: center;
flex-direction: column;


}
.contact-button{
  font-size: 20px;
  align-self: center;
  border: none;
  text-decoration: underline;
  text-decoration-color: blue;
  cursor: pointer;
  margin-top: 10px;
}
.contact-button:hover{
  color: rgb(197, 197, 89);
  font-weight: 500;
  text-decoration: none;
}
.social-media-icons{
  align-self: center;
}
.social-media-icons a i{
  font-size: 30px;
  margin: 10px;
  margin-top: 20px;
}



/* ----------------------------- */
/* --------MEDIA QUERY---------- */
/* ------------------------------ */
@media  screen and (max-width: 600px) {

  .section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .section-2 .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-section-1{
    margin-top: 30px;
  }
  
  
}